body {
    margin-bottom: 20em;
}

.subscriptionExpenseContainer {
    margin-top: 1.5em;
    
    div {
        padding: 5em;
        display: inline-block;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    h1 {
        margin: 0;
        padding: 0;
        color: black;
        font-weight: 900;
        font-size: 36px;
    }
    .monthlyCost {
        margin: 0;
        padding: 0;
        color: rgb(0, 249, 8);
        font-weight: 900;
        font-size: 36px;
    }
}

.totalSubscriptionsContainer {
    margin-top: 1.5em;
    div {
        padding: 5em;
        display: inline-block;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    h1 {
        margin: 0;
        padding: 0;
        color: black;
        font-weight: 900;
        font-size: 36px;
    }
    .totalSubscriptions {
        margin: 0;
        padding: 0;
        color: rgb(255, 0, 0);
        font-weight: 900;
        font-size: 36px;
    }
}

.manageSubscriptionBtn {
    margin-top: 2em;
}

.enrolledSubscriptionsContainer{
    margin: 0;
    margin-top: 7em;
    padding: 0;
}
